---
layout: blank
custom_css:
- img-properties
---

<header>
  <div class="container">
    <div class="intro-text">
      <div class="img-wrapper">
        <img class="img-circle img-emphasis img-space img-center" src="/assets/images/{{ site.welcome_image }}" style="width:150px; height:150px">
      </div>
      <div class="intro-lead-in intro-lead-in-margins-50">{{ site.welcome_small }}</div>
    </div>
  </div>
</header>

<section class="small-padding{% if page.section_class %} {{ page.section_class }}{% endif %}" {% if page.section_id %}id="{{ page.section_id }}"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-centered">
        <h1>
          Recent Posts
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-centered">
        {% for post in site.posts limit:4 %}
          <div class="row blog_post">
            <div class="col-sm-12">
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <br/>
                <small>
                  {{ post.date | date: "%b %-d, %Y" }}
                  {% if post.categories %}
                    {% for category in post.categories %}
                      &middot; {{ category }}
                    {% endfor %}
                  {% endif %}
                </small>
              </h2>
              <article class="post-content">
                <p>{{ post.content | strip_html | truncatewords: 50 }} <a href="{{post.url}}">more</a></p>
              </article>
              <hr>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
