---
layout: blank
---

<section>
  <p>Hi, I'm Nathan.</p>
  <p>I'm a software engineer living and working in Chicago.</p>
  <p>
    I'm the CTO at <a href="https://skinio.com">SkinIO</a>, co-founded
    <a href="http://www.uplinkapp.com/">Uplink Sports</a> with my
    <a href="https://twitter.com/matttornquist">brother</a> and am currently
    working on a yet-to-be-named time analysis platform.
  </p>
</section>

<section>
  <h2>Featured Projects</h2>
  {% assign sorted_projects = site.projects | sort: 'rel_sort' | reverse %}
  {% assign featured_projects = sorted_projects | where:"featured", true %}
  <ul>
    {% for project in featured_projects %}
      <li><a href="{{ project.url }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Recent Posts</h2>
  {% for post in site.posts limit:5 %}
    <article>
      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <h4>
        {{ post.date | date: "%b %-d, %Y" }}
        {% if post.categories %}
          {% for category in post.categories %}
            &middot; {{ category }}
          {% endfor %}
        {% endif %}
      </h4>
      <summary>
        {{ post.content | strip_html | truncatewords: 50 }} <a href="{{post.url}}">more</a>
      </summary>
    </article>
  {% endfor %}
</section>
