<p>Hi, I'm Nathan.</p>
<p>I'm a software engineer living and working in Chicago.</p>
<p>
  I'm currently working at <a href="https://google.com">Google</a> and am building
  a yet-to-be-named <a href="{% link _projects/11_time.md %}">time analysis
  platform</a> on the side. Previously, I led cloud services at <a href="https://auterion.com">Auterion</a>,
  was the CTO at <a href="https://skinio.com">SkinIO</a> and co-founded
  <a href="https://apps.apple.com/us/app/uplink-sports/id1110791566">Uplink Sports</a>
  with my <a href="https://twitter.com/matttornquist">brother</a>.
</p>
{% if include.long %}
<p>
  I have a passion for engineering and for seeing projects to completion. I studied
  Computer Engineering at <a href="https://engineering.purdue.edu/ECE">Purdue</a>
  and enjoy using my hardware background on side projects.
</p>
<p>
  If this is your first time here, I would like to highlight some projects that I
  particularly enjoyed working on:
  <ul>
    <li>
      <a href="{% post_url 2019-07-06-macropad %}">Macropad</a>: A custom external
      macropad/numberpad for my computer. I designed and had the PCB manufactured.
      This was my first end-to-end hardware project since university.
    </li>
    <li>
      <a href="{% post_url 2018-02-11-2017-work-analysis %}">2017 Work Analysis</a>:
      A breakdown of how I spent my time in 2017. This project is the basis for
      the unnamed time analysis platform I am currently working on.
    </li>
    <li>
      <a href="{% link _projects/06_uplink.md %}">Uplink Sports</a>: A graphic
      design tool designed for use during live sports. This project was designed
      and built with my brother's professional expertise and has helped empower
      the social media programs in high schools and small colleges.
    </li>
  </ul>
</p>
<p>
  Personally and professionally I can be found on:
  <ul>
    <li><a href="https://www.linkedin.com/in/nathantornquist">LinkedIn</a></li>
    <li><a href="https://www.github.com/tornquist">GitHub</a></li>
    <li><a href="https://twitter.com/nathantornquist">Twitter</a></li>
  </ul>
</p>
<p>
  I am also available via email at {{ site.email }}
</p>
{% endif %}
