<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/">{{ site.home_title }}</a></li>
      {% for page in site.pages %}
        {% if page.title %}
          {% if page.ignore != true %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
