<header>
  {% if page.url != "/" %}<a href="/">{% endif %}
  <h1>NathanTornquist.com</h1>
  {% if page.url != "/" %}</a>{% endif %}
  {% comment %}
  Whitespace in ul/li trees will be rendered. This is harder to read, but allows
  the styles to actually control all of the padding.
  {% endcomment %}
  <nav>
    <ul><li><a href="{{ site.baseurl }}/">{{ site.home_title }}</a></li>{% for page in site.pages %}{% if page.title %}{% if page.ignore != true %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}{% endif %}{% endfor %}</ul>
  </nav>
</header>
