.post-content {
  p, ul, li, table {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
  }

  p {
    margin-bottom: 30px;
  }

  table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 30px;
  }

  table, td, th {
      border: 1px solid $grey-color-light;
  }

  td, th {
    padding-left: 10px;
  }

  tr:nth-child(even) {background: $brand-color-verylight}
  tr:nth-child(odd) {background: #FFF}
}

.next-link, .previous-link {
  a:hover {
    text-decoration: none;
  }
}

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}
