<div class="photoset-grid" style="visibility: hidden;">
    <img src="/assets/2011/03/Yearbook_Cover.png">
    <img src="/assets/2011/03/MusicIntro.png">
    <img src="/assets/2011/03/Page_1.png">
    <img src="/assets/2011/03/Page_2.png">
    <img src="/assets/2011/03/Page_3.png">
    <img src="/assets/2011/03/Page_4.png">
    <img src="/assets/2011/03/Page_5.png">
    <img src="/assets/2011/03/Page_6.png">
    <img src="/assets/2011/03/Page_7.png">
    <img src="/assets/2011/03/Page_8.png">
    <img src="/assets/2011/03/SummerIntro.png">
    <img src="/assets/2011/03/WinterActivities.png">
</div>

<script>
$('.photoset-grid').photosetGrid({
    layout: '12423',
    width: '100%',
    gutter: '5px',
    highresLinks: true,
    lowresWidth: 300,
    rel: 'gallery-01',
    borderActive: false,
    borderWidth: '3px',
    borderColor: '#000000',
    borderRadius: '3px',
    borderRemoveDouble: false,

    onInit: function(){},
    onComplete: function(){

        $('.photoset-grid').css({
            'visibility': 'visible'
        });

        $('.photoset-grid').attr('style', '');

        $('.photoset-grid a').colorbox({
          photo: true,
          scalePhotos: true,
          maxHeight:'90%',
          maxWidth:'90%'
        });
    }
});
</script>
