<div class="photoset-grid" style="visibility: hidden;">
  <img src="/assets/2013/12/djroomba/on.jpg">
  <img src="/assets/2013/12/djroomba/inside.jpg">
  <img src="/assets/2013/12/djroomba/breadboard.jpg">
  <img src="/assets/2013/12/djroomba/schematic.png">
  <img src="/assets/2013/12/djroomba/pcb.jpg">
  <img src="/assets/2013/12/djroomba/side.jpg">
</div>

<script>
$('.photoset-grid').photosetGrid({
    layout: '24',
    width: '100%',
    gutter: '5px',
    highresLinks: true,
    lowresWidth: 300,
    rel: 'gallery-01',
    borderActive: false,
    borderWidth: '3px',
    borderColor: '#000000',
    borderRadius: '3px',
    borderRemoveDouble: false,

    onInit: function(){},
    onComplete: function(){

        $('.photoset-grid').css({
            'visibility': 'visible'
        });

        $('.photoset-grid').attr('style', '');

        $('.photoset-grid a').colorbox({
          photo: true,
          scalePhotos: true,
          maxHeight:'90%',
          maxWidth:'90%'
        });
    }
});
</script>
