<div class="photoset-grid" style="visibility: hidden;">
    <img src="/assets/2016/12/m0110_lattice_0.jpg">
    <img src="/assets/2016/12/m0110_lattice_1.jpg">
    <img src="/assets/2016/12/m0110_lattice_2.jpg">
    <img src="/assets/2016/12/m0110_lattice_3.jpg">
    <img src="/assets/2016/12/m0110_lattice_4.jpg">
    <img src="/assets/2016/12/m0110_lattice_5.jpg">
</div>

<script>
    $('.photoset-grid').photosetGrid({
        layout: '33',
        width: '100%',
        gutter: '5px',
        highresLinks: true,
        lowresWidth: 300,
        rel: 'gallery-01',
        borderActive: false,
        borderWidth: '3px',
        borderColor: '#000000',
        borderRadius: '3px',
        borderRemoveDouble: false,

        onInit: function() {},
        onComplete: function() {

            $('.photoset-grid').css({
                'visibility': 'visible'
            });

            $('.photoset-grid').attr('style', '');

            $('.photoset-grid a').colorbox({
                photo: true,
                scalePhotos: true,
                maxHeight: '90%',
                maxWidth: '90%'
            });
        }
    });
</script>
