<div class="photoset-grid" style="visibility: hidden;">
    <img src="/assets/images/projects/uplink/00_home.png">
    <img src="/assets/images/projects/uplink/01_home.png">
    <img src="/assets/images/projects/uplink/02_edit.png">
    <img src="/assets/images/projects/uplink/03_edit.png">
    <img src="/assets/images/projects/uplink/04_gallery.png">
</div>

<script>
$('.photoset-grid').photosetGrid({
    layout: '5',
    width: '100%',
    gutter: '5px',
    highresLinks: true,
    lowresWidth: 300,
    rel: 'gallery-01',
    borderActive: false,
    borderWidth: '3px',
    borderColor: '#000000',
    borderRadius: '3px',
    borderRemoveDouble: false,

    onInit: function(){},
    onComplete: function(){

        $('.photoset-grid').css({
            'visibility': 'visible'
        });

        $('.photoset-grid').attr('style', '');

        $('.photoset-grid a').colorbox({
          photo: true,
          scalePhotos: true,
          maxHeight:'90%',
          maxWidth:'90%'
        });
    }
});
</script>
