<div class="photoset-grid" style="visibility: hidden;">
  <img src="/assets/images/projects/arcade_classics/arcade_classics_5.png">
  <img src="/assets/images/projects/arcade_classics/arcade_classics_6.png">
  <img src="/assets/images/projects/arcade_classics/arcade_classics_1.png">
  <img src="/assets/images/projects/arcade_classics/arcade_classics_2.png">
  <img src="/assets/images/projects/arcade_classics/arcade_classics_3.png">
  <img src="/assets/images/projects/arcade_classics/arcade_classics_4.png">
  <img src="/assets/images/projects/arcade_classics/arcade_classics_7.png">
</div>

<script>
$('.photoset-grid').photosetGrid({
    layout: '34',
    width: '100%',
    gutter: '5px',
    highresLinks: true,
    lowresWidth: 300,
    rel: 'gallery-01',
    borderActive: false,
    borderWidth: '3px',
    borderColor: '#000000',
    borderRadius: '3px',
    borderRemoveDouble: false,

    onInit: function(){},
    onComplete: function(){

        $('.photoset-grid').css({
            'visibility': 'visible'
        });

        $('.photoset-grid').attr('style', '');

        $('.photoset-grid a').colorbox({
          photo: true,
          scalePhotos: true,
          maxHeight:'90%',
          maxWidth:'90%'
        });
    }
});
</script>
