.img-circle {
  border-radius: 50%;
}
.img-emphasis {
  border: 3px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.img-space {
  margin: 10px;
}
.img-wrapper {
  position: relative;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
