:root {
  --page-width: 600px
}

/* Main */
body {
  max-width: var(--page-width);
}

/* Generic width assertions */
code {
  display: inline-block;
  max-width: var(--page-width);
  overflow-x: scroll;
}
code::-webkit-scrollbar {
  height: 1px;
}
.image {
  width: var(--page-width);
}

@media only screen and (max-width: 632px) {
  code { width: calc(100vw - 32px); }
  .image { width: calc(100vw - 32px); }
}

/* Photo Grid */
.photos {
  display: flex;
  justify-content: flex-start;

  flex-wrap: nowrap;
  flex-direction: row;

  width: 100%;
}

.photo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10px;

  display: flex;
  overflow: hidden;
}

  .photos + .photos { margin-top: 6px; }
  .photo + .photo { margin-left: 6px; }

.photo img {
  flex: 1 1 1px;
  min-width: 1px;
  min-height: 1px;
  object-fit: cover;
}
