<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">
    {% include header.html %}

    <header>
        <div class="container">
            <div class="intro-title">
              <div class="intro-heading">{{ page.title }}</div>
              {% if page.date %}
                <div class="intro-lead-in">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
              {% endif %}
            </div>
        </div>
    </header>
    <section class="small-padding">
      <div class="container">
        {{ content }}
      </div>
    </section>

    {% include footer.html %}
  </body>

  {% include tail_js.html %}

</html>
