<!DOCTYPE html>
<html>

{% include head.html %}

<body id="page-top" class="index">
{% include header.html %}

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-centered">
        <div class="intro-title reduced-center">
          <div class="intro-heading">{{ page.title }}</div>
          <div class="intro-lead-in">

            {% if page.previous or page.next %}
              <span class="previous-link">
                {% if page.previous %}
                  <a rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&#9668;</a>
                {% else %}
                  &#9668;
                {% endif %}
              </span>
            {% endif %}

            {% if page.release or page.category %}
              <span>{{ page.release }}{% if page.release and page.category %} • {% endif %}{{ page.category }}</span>
            {% elsif page.date %}
              <span>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
            {% endif %}

            {% if page.previous or page.next %}
              <span class="next-link">
                {% if page.next %}
                  <a rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}">&#9658;</a>
                {% else %}
                  &#9658;
                {% endif %}
              </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{{ content }}

{% include footer.html %}
</body>

{% include tail_js.html %}

</html>
